<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" >


    <link rel="stylesheet" href="/css/home.css">

    <title>Home</title>
</head>
<body class="bg-dark">

  <div class="d-block">
    <div class="container">
      <div class="d-flex mt-5 flex-column align-items-center">
        <p class="fs-2 text-white"><%= username %></p>

        <div class="p-5 form_background">
          <form class="form">
            <div class="mb-3">
              <label for="username" class="form-label text-white">Username</label>
              <input type="text" class="form-control text-white bg-dark" id="username">
              <div id="emailHelp" class="form-text text-white">Enter username to check if user is online</div>
            </div>
            
            <div class="d-flex justify-content-center mt-4">
              <button type="submit" class="btn btn-primary ps-5 pe-5">Search</button>
            </div>
          </form>

          <div class="alert mt-5 alert-primary d-none" role="alert">
            <p class="fs-6 text-center" style="color: black; height: 0.5rem">  </p>
            <button type="button" class="connect-btn btn btn-success mt-3 d-none" style="margin-left: 3.6rem;">Connect Now</button>
          </div>
        </div>
        

      </div>
    </div>
  </div>
    
</body>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  <script src="/js/bootstrap/bootstrap.bundle.min.js" ></script>


  <script src="/socket.io/socket.io.js"></script>
  <script>
    const JWTToken = getCookie("jwt");
    console.log(JWTToken);
    const socket = io("/home", {query: `jwt_token=${JWTToken}`});
    const username = "<%= username %>"
    const userID = "<%= userID %>"

    socket.emit("user-connected", username, userID);
    socket.on("new_msg", function (data) {
      console.log(data);
    })

    socket.on("conn_req", (data)=>{
      console.log(data);
    })

    const form = document.querySelector(".form");
    const alert = document.querySelector(".alert");
    const connectBtn = document.querySelector(".connect-btn");
    const input = document.querySelector("#username");

    input.addEventListener("focus", e=>{
      // RESET ALERT
      alert.classList.add("d-none");
      connectBtn.classList.add("d-none")
      alert.classList.remove("alert-warning")
    })

    form.addEventListener("submit", async e=>{
      e.preventDefault()

      const username = e.target.username.value

      try {
        const response = await fetch("/isUserActive", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({username})
        })

        // if not logged in
        if (response.redirected === true){
          window.location.assign("/")
        } //else ...


        const body = await response.json()
        alert.classList.remove("d-none")

        if (response.status === 200) {
          alert.children[0].innerText = `User ${body.username} is online`
          connectBtn.classList.remove("d-none")

          connectBtn.addEventListener("click", e=>{
            socket.emit("connect-to-user", body.socketID)
          })
        }
        else {
          alert.children[0].innerText = `User ${body.username} is offline`
          alert.classList.add("alert-warning")
          // connectBtn.removeEventListener("click")
        }
        
      } catch (error) {
        console.log(error);
        alert.children[0].innerText = "something went wrong"
        alert.classList.add("alert-warning")
        // connectBtn.removeEventListener("click")
      }
    

    })


  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
  }
  </script>
</html>